<div>
  <h1> It's <%= @game.turn.name %>'s turn</h1>
</div>

<div>
  <h1> <%= @game.player_1.name%> vs. <%= @game.player_2.name%> </h1>
</div>

<div>
  <h2> <%= @game.player_1.name %>: <%= @game.player_1.hit_points %></h2>
  <h2> <%= @game.player_2.name %>: <%= @game.player_2.hit_points %></h2>
</div>

<form method='get' action='/attack'>
  <input type='submit' value='Attack Player 2'>
</form>
