
<div>
  <h1> <%= @player1 %> vs <%=@player2%> </h1>
</div>

<div>
  <h2> <%= @player1 %>: <%= @player1_health %></h2>
  <h2> <%= @player2 %>: <%= @player2_health %></h2>
</div>

<!-- <div>
  <form action="/attack" method="post">
  <button type='button' >Attack Player 2</button>
</form>
</div> -->
<a href = '/attack'>Attack Player 2</a>
