
<div>
  <h1> <%= @player1_name%> vs. <%=@player2_name%> </h1>
</div>

<div>
  <h2> <%= @player1_name %>: <%= @player1_health %></h2>
  <h2> <%= @player2_name %>: <%= @player2_health %></h2>
</div>

<a href = '/attack'>Attack Player 2</a>
